# Database owner connection string (e.g., postgres://user:pass@host:port/dbname)
DATABASE_URL=your-db_url

# JWT config
JWT_SECRET_KEY=your-secret-key
JWT_ISSUER=your-api-name
JWT_AUDIENCE=your-client-app

# Rate Limit settings
RATE_LIMIT_PERMIT=n-of-request-permited
RATE_LIMIT_QUEUE=n-of-queue
RATE_LIMIT_WINDOW=n-of-seconds