# Database owner connection string (e.g., postgres://user:pass@host:port/dbname)
DATABASE_URL=your-db_url
DATABASE_DBCONTEXT=db-url-db-context

# JWT config
JWT_SECRET_KEY=your-secret-key
JWT_ISSUER=your-api-name
JWT_AUDIENCE=your-client-app

