# Database owner connection string (e.g., postgres://user:pass@host:port/dbname)
DATABASE_URL=your-db_url
DATABASE_DBCONTEXT=db-url-db-context

# JWT config
JWT_SECRET_KEY=your-secret-key
JWT_ISSUER=your-api-name
JWT_AUDIENCE=your-client-app

# Rate Limit settings
RATE_LIMIT_PERMIT=100
RATE_LIMIT_QUEUE=10
RATE_LIMIT_WINDOW=60

# Rate Limit settings for login
LOGIN_LIMIT_PERMIT=7
LOGIN_LIMIT_QUEUE=0
LOGIN_LIMIT_WINDOW=120

# Cloudinary settings
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@<your_cloud_name>#opcional
CLOUDINARY_CLOUD_NAME=tu_cloud_name_Cloudinary
CLOUDINARY_API_KEY=tu_api_key_cloudinary
CLOUDINARY_API_SECRET=tu_api_secret_cloudinary